<div class="product-listing-item" [routerLink]="['/product', productInfo.id]">
  <div class="product-listing-item__image-container">
    <img class="product-listing-item__image" [src]="productInfo.image" />
  </div>
  <div class="product-listing-item__title">{{ productInfo.title }}</div>
  <div class="product-listing-item__control-panel">
    <control-panel [productInfo]="productInfo" />
  </div>
  <div class="product-listing-item__price-section">
    <div class="product-listing-item__rating">
      <aa-star-rating [rating]="productInfo.rating" />
    </div>
    <div class="product-listing-item__price">
      {{ productInfo.price | currency: "USD" }}
    </div>
  </div>
</div>
