<form class="auth-form__form" #authForm="ngForm">
  @if( (this.serverErrorMessage$ | async) !== null){
  <div class="auth-form__error-message">
    {{this.serverErrorMessage$ | async }}
  </div>
  }
  <label for="email">Email</label>
  <input
    type="email"
    [(ngModel)]="user.email"
    required
    pattern="^\S+@\S+\.\S+$"
    id="email"
    name="email"
  />
  <label for="password">Password</label>
  <input
    type="password"
    [(ngModel)]="user.password"
    required
    name="password"
    minlength="8"
    id="password"
  />
  @if (type === 'signup') {
  <label for="repeatPassword">Repeat password</label>
  <input
    [passwordMatchInput]="user.password"
    type="password"
    [(ngModel)]="user.repeatPassword"
    name="repeatPassword"
    required
    minlength="8"
    id="repeatPassword"
  />
  <input
    type="submit"
    (click)="createNewUser()"
    [disabled]="authForm.form.invalid"
    value="Register"
  />
  } @else {
  <input
    type="submit"
    (click)="authUser()"
    [disabled]="authForm.form.invalid"
    value="Login"
  />

  }
</form>
