.header {
  display: flex;
  min-height: 100px;
  max-height: 125px;
  align-items: center;
  border-bottom: solid 2px var(--primary-color);
  justify-content: center;
}

.header-logo {
  margin-right: 20px;
}
