<form
  class="filter-section__filter-form"
  [formGroup]="searchForm"
  (ngSubmit)="facetSearch()"
>
  <label for="priceFrom">Price from</label>
  <input
    type="number"
    formControlName="priceFrom"
    name="priceFrom"
    id="priceFrom"
    min="0"
    placeholder="10"
  />

  <label for="priceTo">Price to</label>
  <input
    type="number"
    formControlName="priceTo"
    name="priceTo"
    id="priceTo"
    min="0"
    placeholder="20"
  />

  <label for="ratingFrom">Rating from</label>
  <input
    type="number"
    formControlName="ratingFrom"
    name="ratingFrom"
    id="ratingFrom"
    min="0"
    max="5"
    placeholder="0.1"
  />

  <label for="ratingTo">Rating to</label>
  <input
    type="number"
    formControlName="ratingTo"
    name="ratingTo"
    id="ratingTo"
    min="0"
    max="5"
    placeholder="3.5"
  />

  <div class="filter-form__checkbox">
    <label for="inStock">Stock available</label>
    <input
      type="checkbox"
      formControlName="inStock"
      name="inStock"
      id="inStock"
    />
  </div>

  <div class="filter-form__checkbox">
    <label for="hasReviews">Reviews available</label>
    <input
      type="checkbox"
      formControlName="hasReviews"
      name="hasReviews"
      id="hasReviews"
    />
  </div>
  @if (searchForm.dirty == true) {
    @if (!searchForm.valid) {
      <input
        type="submit"
        [disabled]="!searchForm.valid"
        value="Incorrect data"
        disabled
      />
    } @else {
      @if ((filterCount$ | async) ?? 0 > 0) {
        <input type="submit" value="Show {{ filterCount$ | async }} variants" />
      } @else {
        <input type="submit" value="No variants available" disabled />
      }
    }
  }
</form>
