@let product = product$ | async;

<div class="product-info-section">
  <div class="product-info-section__image-container">
    <img class="product-info-section__image" [src]="product?.image" />
  </div>
  <div class="product-info-section__left-section">
    <div class="product-info-section__title">
      {{ product?.title }}
    </div>

    <div class="product-info-section__rating">
      <star-rating
        [isReviewVisible]="true"
        [rating]="product?.rating ?? null"
      />
    </div>
    <div class="add-to-cart-button__section">
      <add-to-cart-button
        [productId]="product?.id ?? 0"
        [disabled]="(product?.stock ?? 0) < 1"
      />

      @if ((product?.stock ?? 0) < 1) {
        <div
          class="product-info-section__stock product-info-section__stock--outofstock"
        >
          Out of stock
        </div>
      }
      @if ((product?.stock ?? 0) > 1 && (product?.stock ?? 0) < 10) {
        <div
          class="product-info-section__stock product-info-section__stock--lowstock"
        >
          Almost sold out
        </div>
      }
      @if ((product?.stock ?? 0) > 10) {
        <div
          class="product-info-section__stock product-info-section__stock--instock"
        >
          In stock
        </div>
      }
    </div>
    <div class="product-info-section__price">
      {{ product?.price | currency: "USD" }}
    </div>

    <div class="product-info-section__description">
      {{ product?.description }}
    </div>
  </div>
</div>
