<div class="product-listing-item">
  <div class="product-listing-item__image-container">
    <img class="product-listing-item__image" [src]="productInfo().image" />
  </div>
  <div class="product-listing-item__title">{{ productInfo().title }}</div>
  <div class="product-listing-item__price-section">
    <div class="product-listing-item__rating">
        @if(productInfo().rating.count > 0){
            {{ productInfo().rating.rate }}
        } @else {
            No reviews yet
        }
      
    </div>
    <div class="product-listing-item__price">
      {{ productInfo().price | currency: "USD" }}
    </div>
  </div>
</div>
