@let cart = cartInfo$ | async;
<table>
  <tr>
    <th>Entry number</th>
    <th>Title</th>
    <th>Price per entry</th>
    <th>Total price</th>
    <th>Count</th>
  </tr>
  @for (entry of cart?.products | slice: start : end; track $index) {
    <tr>
      <td class="cart-table__table-value">
        {{ entry.id }}
      </td>
      <td class="cart-table__table-value">{{ entry.title }}</td>
      <td class="cart-table__table-value">{{ entry.price }}</td>
      <td class="cart-table__table-value">{{ entry.count * entry.price }}</td>
      <td class="cart-table__table-value">
        <aa-add-to-cart-button [productId]="entry.id" [updateCounter]="true" />
      </td>
      <td class="cart-table__table-value" (click)="removeProduct(entry.id)">
        <fa-icon [icon]="faXmark" size="xl" />
      </td>
    </tr>
  } @empty {
    <div class="cart-table__empty">Cart is empty</div>
  }
</table>
<aa-cart-pagination
  (paginationInfo)="updatePagination($event)"
></aa-cart-pagination>
