.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.control-panel__edit-section {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
}
